<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.home.route.mapper.FacilityMapper">

    <select id="findAll" resultType="com.ssafy.home.route.dto.FacilityEntity">
        SELECT
            facility_id,
            name,
            facility_type,
            address,
            latitude,
            longitude,
            created_at
        FROM facility
    </select>
</mapper>
