<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.home.batch.mapper.RegionBatchMapper">

    <insert id="upsert">
        INSERT INTO region_code (
            region_code, sido_name, sigungu_name, dong_name
        ) VALUES (
            #{regionCode}, #{sidoName}, #{sigunguName}, #{dongName}
        )
        ON DUPLICATE KEY UPDATE
            sido_name = #{sidoName},
            sigungu_name = #{sigunguName},
            dong_name = #{dongName}
    </insert>
</mapper>
