<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.home.batch.mapper.EnvironmentBatchMapper">

    <insert id="upsert">
        INSERT INTO environment_info (
            item_name, `value`, unit, measured_date, latitude, longitude
        ) VALUES (
            #{itemName}, #{value}, #{unit}, #{measuredDate}, #{latitude}, #{longitude}
        )
        ON DUPLICATE KEY UPDATE
            `value` = #{value},
            unit    = #{unit}
    </insert>

</mapper>
